@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}

* {
  font-family: 'Roboto', sans-serif;

  margin: 1%;
  background-color: transparent;
  background-size: cover;
}

strong {
  color: rgb(14 165 233);
}
#total {
  
  color: #a855f7;
  border-radius: 7px;
 
}
body {
  
  background-size: 100% 100%; /* Cobrir completamente o elemento body */
  background-position: center; /* Centralizar a imagem */
  background-repeat: no-repeat; /* Impedir que a imagem se repita */
  background-color: rgb(220 252 231);
}

  section {
    padding: 1%;
  }


